<%- include("header") -%>

<h1>This is the About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum recusandae assumenda eius ratione impedit laborum esse doloribus consequuntur sunt blanditiis dolore, ducimus nam obcaecati, vero quas reiciendis quam magni illo tempora, eveniet natus quidem.</p>

<%- include("footer") -%>